.componente3bg{
    height: 500px;
    width:auto;
    border:1px solid black;
    display:flex;
    justify-content: center;
    margin: 0;
    padding:0;
    background: #ff4a5a;
    color:white;
    overflow: hidden;
}

.componente3slotbg{
    margin:0;
    padding:0;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    h1{
        font-family: 'Muli', sans-serif;
        display: block;
        text-align: center;
        
    }
    img{
        width:600px;
        display:flex;
        align-self:center;
    }
    p{
        font-size:18px;
        font-family: 'Muli', sans-serif;
        
    }
    div{
        font-family: 'Muli', sans-serif;
        
    }
}